.navbar{
	background-color:#00aa9a !important;
	margin:0px;
	border-radius: 0px;
}

.navbar-inverse .navbar-nav a{
	color: #FFF !important;
}

.navbar-brand{
	color: #FFF !important;
}

.navbar-nav li a{
	color: #FFF !important;
}

.navbar-nav{
	float: right !important;
}

.navbar a{
	cursor: pointer;
}

.fblogin{
	background: #354E84 !important;
	WIDTH: 100%;
	border-radius: 5px;
	line-height: 100%;
	margin-bottom:0;
}