.navbar{
	background-color:#00aa9a !important;
	margin:0px;
	border-radius: 0px;
}

.navbar-inverse .navbar-nav a{
	color: #FFF !important;
}

.navbar-brand{
	color: #FFF !important;
}

.navbar-nav li a{
	color: #FFF !important;
}